.form2 {
    width: 650px;
    margin: 30px auto;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

body {
    background-color: #dc8dd6;
}

.box,
.search {
    display: flex;
    /*sets the flexible length on flexible items*/
    flex-direction: column;
    gap: 20px;
    /* size of space between each two divs */
    align-items: center;
}

.search {
    position: relative;
    display: flex;
}

.close {
    position: absolute;
    right: 450px;
    top: 55px
}

button:hover {
    opacity: 0.7;
    box-shadow: 2px 2px darkgray;
}

button:focus {
    background-color: rgb(148, 140, 140);
}

.close button {
    border: none;
    background-color: white;
    opacity: 0.5;
}

.ESC {
    display: block;
    /* to show word esc bellow icon*/
}

.search input {
    /*class search is for the input*/
    width: 90%;
}

.search {
    /*search child*/
    border: none;
    box-shadow: none;
}

.f:checked+.memb {
    opacity: 1;
    color: black;
}

.box input {
    position: absolute;
    justify-content: flex-end;
    right: -5px;
    top: 30%;
    opacity: 0.4;
}

.box label {
    width: 100%;
}

.f {
    display: none;
}

input[type="checkbox"]+label::after {
    content: "";
    position: absolute;
    right: 4px;
    top: 19%;
    border: 0.5px solid;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding-left: 5px;
    padding-bottom: 3px;
    border-color: green;
}

input[type="checkbox"]:checked+label::before {
    content: "\2714";
    color: rgb(81, 241, 81);
    position: absolute;
    right: 4px;
    top: 19%;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding-left: 5px;
    padding-bottom: 3px;
}

.box {
    border: 1px solid gray;
    padding: 8px;
    box-shadow: 2px 2px #888;
    border-radius: 3px;
    display: flex;
    position: relative;
}

.memb {
    margin: 5px 5px;
    width: 100px;
    color: rgba(131, 124, 124, 0.819);
}

.end {
    border-color: transparent;
    position: relative;
    left: 25%;
}

#s {
    background-color: #4CAF50;
    /* Green */
    border: 1px solid white;
    /* Green */
    ;
    color: white;
    padding: 11px 22px;
    text-align: center;
    text-decoration: darkgreen;
    display: inline-block;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#s:active {
    vertical-align: top;
    padding: 8px 13px 6px;
    text-shadow: goldenrod;
    background-color: darkgreen;
    box-shadow: goldenrod;
}

#s {
    background-image: linear-gradient(to right, #003973 0%, #E5E5BE 51%, #003973 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: medium;
}

#s:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#r:active {
    vertical-align: top;
    padding: 8px 13px 6px;
    text-shadow: goldenrod;
    background-color: white;
    box-shadow: goldenrod;
}

#r {
    background-image: linear-gradient(to right, #EDE574 0%, #E1F5C4 51%, #EDE574 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border: 1px solid white;
    /* Green */
    ;
}

#r:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#search {
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    margin-bottom: -30px;
}

.box {
    margin-top: 10px;
    background-image: linear-gradient( to right, pink, #fffdc2 15%, #d7f0a2 100%, pink 85%);
}

.memb:hover {
    background-image: linear-gradient( to right, #fffdc2, #fffdc2 15%, #d7f0a2 100%, #fffdc2 85%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: grey;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border: 1px solid white;
    /* Green */
}
